
<div class="container d-flex h-100 justify-content-center align-items-center" data-controller="password">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login_form bg-light' }) do |f| %>
  <div class="form-group">
    <%= f.label :username %><br />
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="mdi mdi-account"></i> <!-- Admin icon -->
        </span>
      </div>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    </div>
    <div class="form-group">
      <%= f.label :password %><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="mdi mdi-lock"></i> <!-- Password icon -->
          </span>
        </div>
        <div class="position-relative">
          <%= f.password_field :password, class: "form-control", id: "password-field", data: { password_target: "password" } %>
          <i class="mdi mdi-eye position-absolute eye-icon" id="toggle-password" data-action="click->password#toggle" data-password-target="toggleIcon"></i>
        </div>
      </div>
    </div>
    <%= link_to "Forgot Password?", new_password_path(resource_name), class: "d-block text-right mt-2" %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "d-block text-right mt-2" %>
    <div class="button mt-3 text-center">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
